/* 
1 từ trên xuống dưới
2.từ ngoài vào trong
3.từ tổng quan đến chi tiết

*/

/* 
1. vị trí
2.kích thước (width, height)
3.màu sắc
4.kiểu dáng(kiểu chữ, hình tròn, vuông, ...)

*/

:root{
    --pay-theme:#009688;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav >li >a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    
    padding: 0 24px;
    font-size: 15px;
    display: inline-block;
}
#nav> li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav .sub-nav {
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    
}
#nav li:hover .sub-nav {
    display: block;
    background-color: #fff;
}
#nav >li:hover >a,
#nav .sub-nav li:hover a
{
    color: black;
    background-color: #ccc;
    height: 46px;   
}

#nav .sub-nav a{
    color: #000;
    display: block;
    padding: 0 12px;
}
#nav .nav-down-arrow{
    font-size: 10px;
}

#header .search{
    display: block;
    float: right;
    line-height: 46px;
    padding:  0 23px;
}
#header .search-icon{
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}
#header .search:hover{
    cursor: pointer;
    background-color: #f44336;
}

#slider{
    position: relative;
    width: 100%;
    margin-top: 46px;
}

#slider .text{
    width: 100%;
    position: absolute;
    bottom: 59%;
    color: #fff;
    text-align: center;
}

#slider .text-head{
    padding: 25px;
    font-size: 50px;
}

#slider .text-tail{
    font-size: 16px;
}





#content{
    max-width: 784px;
    background-color: #fff;
    margin: 0 auto;
    padding:64px 16px ;
}
.content-heading,
.content-sub-heading{
    font-weight: 400;
    text-align: center;
}
.content-heading{
    letter-spacing: 5px;
    padding: 12px;
    font-size: 30px;
}
.content-sub-heading{
    opacity: 0.7;
    font-style: italic;
    padding: 12px;
}

#content .about{
    padding-top: 20px;
    text-align: justify;
    line-height: 1.4;
    font-weight: 450;
}

.member-list{
    background-color: #fff;
    margin-top: 15px;
    padding: 32px 0;
    overflow: hidden; 
    /* khi dùng float item, box tổng co lại, dùng overflow để nở ra bth  */
}

.member-list .member-item{
    float: left;
    width: 33.33%;
    text-align: center;
}
.member-list .name{
    margin: 15px 0  ;
    font-size: 15px;
}
.member-list .avatar{
    border-radius: 4px;
}
.member-list .avatar:hover{
    opacity: 0.7;
}





.background{
    background-color: #000 ;
    margin-bottom: 54px;
}

#tour{
    max-width: 784px;
    padding: 64px 16px;
    margin: auto;
    color: #fff;
}
#tour .tour-list{
    background-color: #fff;
    color: #757575;
    margin-top: 30px;
}
.tour-list .tour-item{
    border-bottom: solid #ddd 1px;
    padding: 8px 16px;
}

.tour-list .tour-item:hover{
    background-color: #ccc;
    cursor: pointer;
}

.tour-item .soldout{
    background-color: #f44336;
    margin:  0 16px;
    padding: 1px 8px;
    color:#fff;
}

.tour-item .quantity{
    float: right;
    color: #fff;
    background-color: #000;
    padding: 3px 8px;
    border-radius: 50%;
    margin-top: -3px ;
}

#ticket-list{
    margin: 32px -10px 32px -10px;
    overflow: hidden; 
}
.ticket-item{
    float: left;
    width: 33.33333%;
    padding: 0 10px;
    overflow: hidden; 
}
.ticket-item img{
    width: 100%;
    display: block;
}

.ticket-item .ticket-detail{
    background-color: #fff;
    color: #000;
    padding: 16px;
    line-height: 1.5;
}
.ticket-detail .ticket-text{
    margin-bottom: 16px ;
}

.ticket-detail .place{
    font-weight: 700;
}
.ticket-detail .date{
    opacity: 0.7;
}
.ticket-detail .buy-ticket{
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
}

.ticket-item img:hover{
    opacity: 0.6;
}
.ticket-detail .buy-ticket:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


/* modal */
.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: rgba(0,0,0,0.5);
}
.open{
    display: block;
}
.modal-container{
    z-index: 4;
    position: relative;
    max-width: 600px;
    margin: auto;
    font-weight: 400;
    background-color: #fff;
    border: 16px;
    animation: modal-open ease-out 0.3s;
}
.modal-container .header{
    background-color: var(--pay-theme);
    padding: 32px 16px;
    text-align: center;
    color: #fff;
}
.modal-container .header h2{
    letter-spacing: 4px;
    line-height: 64px;
    font-size: 40px;
}
.header .ti-briefcase{
    padding: 20px;
}

.modal-container .pay-content{
    padding: 0 16px;
}
.pay-content .label{
    display: block;
    margin: 15px 0 8px 0;
    font-size: 16px;
}
.pay-content .input{
    width: 100%;
    padding: 12px;
    border-width: 1px;
    font-size: 16px;
}
.modal .x{
    position: absolute;
    top:0;
    right: 0;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: var(--pay-theme);
    font-weight: 900;
    color: #fff;
}
.modal .x:hover{
    background-color: #ccc;
    color: #000;
}
.modal .pay{
    background-color: var(--pay-theme);
    width: 100%;
    margin: 16px 0 24px 0;
    padding: 16px;
    font-size: 22px;
    color: #fff;
    border: none;
}
.pay .ti-check{
    font-size: 16px;
}
.modal .pay:hover{
    opacity: 0.7;
    cursor: pointer;
}
.pay-content .close{
    font-size: 20px;
    padding: 8px 16px;
    background-color: #f44336;
    border: none;
    margin: 16px 0;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 8px;
}
.close .ti-close{
    font-size: 10px;
    font-weight: 900;
}
.pay-content .close:hover{
    background-color: #ccc;
    color: #000;
}
.pay-content .help{
    float: right;
    font-size: 20px;
    margin: 16px 0;
}
.pay-content .help a{
    color: rgb(39, 121, 230)
}
@keyframes modal-open{
    from{
        transform: translateY(-100px);
        opacity: 0.5;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}





/* contact */
#contact .contact-box{
    max-width: 784px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 16px ;
    display: block;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}
.contact-box .message{
    width: 49.99999%;
    float: right;
}
.contact-box .info{
    width: 49.999999%;
    float: left;
    font-size: 18px;
    font-weight: 450;
}
.contact-box .info{
    line-height: 1.5;
    margin-bottom: 16px;
}
.contact-box .info i{
    padding-right:16px;
}
.contact-box .message .input-email,
.contact-box .message .input-name{
    width: 48%;
    padding: 12px;
    margin-bottom: 14px;
}
.contact-box .message .input-email{
    float: right;
}
.contact-box .message .input-message{
    width: 100%;
    padding: 12px;
}
.contact-box .message input{
    border: 1px solid #ccc ;

}
.message .send{
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 32px;
    font-size: 16px;
    float: right;
    width: 64px;
    height: 32px;
}
.message .send:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
#view{
    margin: 32px 0;
}


#footer{
    max-width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: rgb(107, 107, 107);
}
#footer .f-icon{
    display: inline-block;
    font-size: 24px;
    padding-top: 28px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#footer .owner{
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 64px;
}
#footer .owner a{
    color:#000;
}
#footer .f-icon i:hover{
    color: #000;
}



